<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id = "form-body">
                <h2>Register Form</h2>
                <form method="POST" action="/register">

                <div class="mb-3">
                <label class="form-label">Register As</label>
                <select class="form-control" name="role" required>
                <option value="">Select Role</option>
                <option value="student">Student</option>
                <option value="company">Company</option>
                </select>
                </div>

                <div class="mb-3">
                    <label for="input1" class="form-label">Name</label>
                    <input type="text" class="form-control"  name="name" placeholder="Enter your name">
                </div>
                <div class="mb-3">
                    <label for="input3" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="input4" class="form-label">Password</label>
                    <input type="password" class="form-control"  name="password" placeholder="Enter your password">
                </div>
                <div class="text-center">
                <input type="Submit" class="btn btn-primary" value="Register"><br>
                Already have an account? <a href="/login">Login</a>
                </div>
                </form>
           </div>
        </div>
    </div>
    
</body>
</html>